* {
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: #4c4c4c;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px;
  position: sticky;
  top: 0px;
  background-color: white;
  padding: 10px 0px;
}
ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  font-size: 15px;
  cursor: pointer;
}
div.shapely {
  font-size: 24px;
  cursor: pointer;
}
nav :hover {
  color: blue;
}
nav :active {
  color: black;
}
.title {
  font-weight: 400;
}

section.parallax {
  background-image: url(./images/photo-1443527216320-7e744084f5a7-1.jpg);
  height: 800px;
  width: 1500px;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.title {
  font-size: 50px;
}
.paragraph {
  font-size: 20px;
}
#readmore {
  background-color: #745cf9;
  border-style: none;
  color: white;
  height: 50px;
  width: 160px;
  cursor: pointer;
  margin-top: 20px;
}
#downloadnow {
  background: none;
  border-style: solid;
  border-color: white;
  cursor: pointer;

  color: white;
  height: 50px;
  width: 160px;
}
img {
  width: 650px;
}
section.computer {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.second-paragraph {
  display: flex;
  flex-wrap: wrap;
  color: grey;
  font-size: 50x;
}
.second-title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
#readmore:hover {
  background-color: #5d47d7;
}
#downloadnow:hover {
  background-color: white;
  color: black;
}
#read-more {
  background-color: slateblue;
  border-style: none;
  color: white;
  height: 50px;
  width: 160px;
  cursor: pointer;
  margin-top: 20px;
}
